.DS_store
*.pyc
results/
NYT_data/entity_id.txt
NYT_data/output.txt
NYT_data/*.joblib
NYT_data/*.npy
NYT_FB_split/*.joblib
NYT_FB_split/*.npy
NYT_FB/*joblib*
SYNTHETIC/*.joblib
SYNTHETIC/*.npy
WN18/*.joblib
WN18/*.npy
FB15k/*.joblib
FB15k/*.npy
FB15k-237/*.joblib
FB15k-237/*.npy
lib/*.pyc
WN18/*.npy
NYT_data/rel_atomic_id.txt
NYT_data/rel_token_id.txt
glove.6B.zip
glove.6B/
DEPRECATED/
results/
bestModels/
NYT_FB_split/*joblib*
NYT_FB/*joblib*
lib/*.png
